.u-center-text {
  text-align: center;
}

.u-display-block {
  display: block;
}

.u-center-block {
  margin: 0 auto;
}

.u-margin-bottom-small {
  margin-bottom: 1rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-larg {
  margin-bottom: 8rem;
}

.u-margin-top-small {
  margin-top: 1rem;
}

.u-margin-top-medium {
  margin-top: 4rem;
}

.u-margin-top-larg {
  margin-top: 8rem;
}

@font-face {
  font-family: main;
  src: url("https://fonts.googleapis.com/css2?family=Cairo:wght@200&display=swap");
}
.secondary-heading {
  font-size: 1.2rem;
  margin-top: -2rem;
}

.tertiary-heading {
  font-size: 1rem;
}

.resultes {
  height: 2rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  background-color: #0069d9;
  color: #555555;
  font-family: "Cairo";
  direction: rtl;
  margin: 2rem 20rem;
}
@media screen and (max-width: 1200px) {
  html {
    margin: 2rem 10rem;
  }
}
@media screen and (max-width: 900px) {
  html {
    margin: 2rem 4rem;
  }
}
@media screen and (max-width: 500px) {
  html {
    margin: 2rem 1rem;
  }
}

.row {
  max-width: 114rem;
  margin: 0 auto;
  display: block;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 1rem;
}
.row:not(:last-child) {
  margin-bottom: 1rem;
}
.row .col-one-two {
  width: calc((100% - 1rem) / 2);
}
.row .col-one-three {
  width: calc((100% - 1rem * 2) / 3);
}
.row .col-two-three {
  width: calc((100% - 1rem * 2 )* 2 / 3 + 1rem );
}
.row .col-one-four {
  width: calc((100% - 1rem * 3) / 4);
}
.row .col-two-four {
  width: calc((100% - 1rem * 3) * 2 / 4 + 1rem);
}
.row .col-three-four {
  width: calc((100% - 1rem * 3) * 3 / 4 + 1rem * 2);
}

.gpa {
  width: 80%;
  margin: 0 auto;
}

.flex-card {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 700px) {
  .flex-card {
    flex-direction: column;
    align-items: center;
  }
}
.flex-card--1 {
  width: 50%;
  order: 1;
}
@media screen and (max-width: 700px) {
  .flex-card--1 {
    width: 100%;
  }
}
.flex-card--2 {
  width: 50%;
}
@media screen and (max-width: 700px) {
  .flex-card--2 {
    width: 100%;
  }
}

.flex--left {
  margin-left: 0.5rem !important;
}
@media screen and (max-width: 700px) {
  .flex--left {
    margin-left: 0 !important;
  }
}
.flex--right {
  margin-right: 0.5rem !important;
}
@media screen and (max-width: 700px) {
  .flex--right {
    margin-right: 0 !important;
  }
}

.inputs {
  display: inline-block;
  width: 100%;
  position: relative;
  transition: all 0.2s;
}
.inputs > input:not(:first-child) {
  display: inline-block;
  margin-top: 3rem;
}
.inputs__label {
  transition: all 0.2s ease;
  position: absolute;
  opacity: 0;
}
.inputs__label--1 {
  top: 0.3rem;
  right: 0;
}
.inputs__label--2 {
  top: 6rem;
  right: 0;
}

.input {
  text-align: center;
  padding: 0.4rem;
  box-sizing: border-box;
  outline: none;
  border: 2px solid gray;
  background: #fff;
  font-family: inherit;
  width: inherit;
  transition: all 0.2s;
  border-radius: 4px;
  border-bottom: 5px solid gray;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}
.input:placeholder-shown {
  text-align: start;
}
.input::-webkit-outer-spin-button, .input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input[type=number] {
  -moz-appearance: textfield;
}
.input:focus {
  outline: none;
  border-bottom: 5px solid #0069d9 !important;
  box-sizing: border-box;
  border: 2px solid #0069d9;
}
.input:not(:placeholder-shown) + label {
  opacity: 1;
  transform: translateY(-2.3rem);
}
@media screen and (max-width: 600px) {
  .input-heading {
    font-size: 0.9rem;
  }
}

.card {
  margin: 0.5rem 0;
  padding: 3rem 2rem;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}
.card:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 500px) {
  .card {
    padding: 3rem 1.5rem;
  }
}

.radios {
  width: 100%;
  margin-top: 2rem;
}

.radio {
  font-size: 1.1rem;
  background: #fff;
  height: 2.5rem;
  display: inline-block;
  width: 35%;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 -2px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}
.radio p {
  margin-top: 0.1rem;
}
.radio--left {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.radio--right {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.radio-button {
  display: none;
}
.radio-button--right:checked + .radio--right {
  background: #0069d9;
  border: 2px #0069d9 solid;
  color: white;
}
.radio-button--left:checked + .radio--left {
  background: #0069d9;
  border: 2px #0069d9 solid;
  color: white;
}

.input-row {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}
.input-row > div {
  text-align: center;
}

.subject-name__container {
  width: 40%;
}
.subject-name__input {
  width: 100%;
}

.grade__container {
  width: 25%;
}
.grade__input {
  width: 80%;
}
@media screen and (max-width: 600px) {
  .grade__input {
    width: 100%;
  }
}

.credit__container {
  width: 25%;
}
.credit__input {
  width: 80%;
}
@media screen and (max-width: 600px) {
  .credit__input {
    width: 100%;
  }
}

.btns {
  margin-right: 1rem;
}

.button {
  margin: 0.5rem;
  margin-top: 2rem;
  font-family: inherit;
  font-size: inherit;
  padding: 0.2rem 0.5rem;
  border: none;
  border-radius: 2px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transition: ease 0.1s all;
}
.button:active {
  transform: translateY(2px) !important;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.1);
}
.button:hover {
  transform: translateY(-0.5px);
}
.button--green {
  color: white;
  background-color: #028702;
}
.button--blue {
  color: white;
  background-color: #0069d9;
}/*# sourceMappingURL=style.css.map */