@mixin clearfix {
    &:after{
        content: "";
        display: table;
        clear: both;
    }
}

@mixin grid-gutter {
    &:not(:last-child){
        margin-right: $horizontal-gutter;
    }
}