//Grid
$grid-width : 114rem;
$horizontal-gutter : 1rem;
$vertical-gutter : 8rem;

//cards
$card-color-background : #fff;

//main
$main-color-background : #0069d9;
$main-color-text : gray;

//colors
$primary-color : #0069d9;
